/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  body {
	font-family: Noto Sans, sans-serif;
  }

  .header {
	margin: auto;
	max-width: 1920px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom:1px solid #f1f1f1;
	position: relative;
	

  }
  
  .header .logo {
	position: absolute;
	top:28px;
	left: 16.25%;
	width: 90px;
	height: 40px;
	
  }


  	.menu {
		max-width: 100%;
		padding: 32px 0;
		display:flex ;
		gap:40px;

	}

	

	

	.menu  a {
	display: block;
	display: flex;
	color: black;	
	font-family:"Noto Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	padding: 4px 8px 4px 8px;


 }

 .menu a:hover {

	font-weight: 600;
 }

 .menu a:hover {
	font-family:"Noto Sans";

	background: 
	linear-gradient(#919191,#919191) top right,
	linear-gradient(#919191,#919191) top right,
	linear-gradient(#919191,#919191) bottom left,
	linear-gradient(#919191,#919191) bottom left,
	linear-gradient(#919191,#919191) bottom right,
	linear-gradient(#919191,#919191) bottom right,
	linear-gradient(#919191,#919191) top left, 
	linear-gradient(#919191,#919191) top left;
	background-size: 8px 1px, 1px 8px;
	background-repeat: no-repeat;
}


 .navbar-btn {
    display: none;
}
  
 


 @media (max-width:375px) {

	.header {
		position: relative;
		max-width: 375px;
		height: 56px;
		padding: 8px 12px;

	}

	.header .logo {

		position: absolute;
		top :11.5px;
		left: 12px;
	}

	.btn{
		width: 40px;
		height: 40px;

	}
	.navbar-btn{
		display: inline-block;
		

	}
	
	.menu li a {
		font-size: 20px;
	}
	.close{
		display: none;
	}


  .menu li a {
	height: 38px;
	width: 96px;
	margin:  auto;
	display: block;
	font-family: Noto Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	padding: 4px 8px 4px 8px;

  }




  .menu li {
	font-size: 20px;
	line-height: 30px;

  }
  

  .header .navbar-btn {
	position: absolute;
	z-index: 70;
	top: 8px;
	right: 12px;
  }




  .menu { 
	display: none;
	background: #FFFFFF;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	padding: 40px 0px;
	width: 100%;
	position: fixed;
	top: 57px;
	left: 0;
	z-index: 2;
	text-align: center;

}

.active{
	display: flex;
}
.menu li a {
	font-size: 20px;
}


.menu a:hover {

	font-weight: 700;
 }






 }  



.main {
	margin: auto;
	max-width: 100%;
 	display: flex;
	flex-direction: column;
 	align-items: center;
 	background: #fafafa ;
 	padding: 20px;
 	padding: 80px 0;

}

.banner {
	max-width: 100%;
	position: relative;
	max-width: 670px;
	text-align: center;
	padding: 59px 71px;

  }


.banner img{
	position: absolute;
}

h1 {
	font-family: Noto Sans;
	color: #1e1e1e;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.8px;

  }

.one {
	padding: 0px 0px 16px 0px;

}

span {
	display: inline-block;
  position: relative;
  z-index: 0;


} 

.underline {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.mark1 {
	left: 0px;
	top: 0px;
  }
  
  .mark2 {
	right: 0px;
	bottom: 0px;
  }

  .experience {
	margin-top: 24px;
	display: flex;
	gap: 40px;
	width: 636px;
	height: 84px;
  }  

  .experience h3 {
	font-size: 16px;
	color: #5B5B5B;
	line-height: 24px;
	text-align: center;
	font-weight: 400;
	font-family: Noto Sans;



}

.experience p {

font-family: Noto Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
max-width: 298px;
color: #3B3B3B;


}

.experience .line {
	border: 2px solid #c1c1c1;
	width: 24px;
	margin-top: 4px;
	margin-bottom: 8px;

  }

  .content {
	padding-top: 120px;
	max-width: 1296px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 80px;


	
  }
  
  .card {
	margin: auto;
	max-width: 636px;
	height: 538px;
  }
  
  .card img {
	border-radius: 8px;
	margin-bottom: 16px;
  }
  
  .content h2 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 8px;
	margin-left: 16px;
  }
  
  .content p {
	font-size: 16px;
	color: #919191;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 24px;
	margin-left: 16px;

  }
  
  .tag {
	display: flex;
	gap: 16px;
	padding-left: 16px;

  }
  .tag li {
	background: #f1f1f1;
	color: black;
	text-align: center;
	line-height: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 16px;
  }
  

  @media (max-width:375px) {
	
	h1  {	
		max-width: 300px;
		font-family: Noto Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		padding: 0px 20px;

	  }

	.one {
		max-width: 300px;
		font-family: Noto Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		padding: 0px 0px 8px 0px;
	
	}
	  
	  .mark1 {
		position: static !important;
		height: 64px;
	  }
	  .mark2 {
		display: none;
	  }

	 .underline {
		width: 108px;
		height: 6px;
		top: 20px;
	 }
	


	  .work1 {
		margin-right: 0;
	  }
	  .experience {
		flex-direction: column;
		gap: 20px;
		max-width: 235px;


	  }

.main {
	max-width: 375px;
	height: 540px;
	padding: 0px;
	padding-bottom: 80px;
}

.banner {
	padding: 40px 0px ;
}
  }


@media (max-width:375px) {  

	.content {
		max-width: 100%;
		margin: auto;
		padding: 80px 12px 48px 12px;
		max-width: 375px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 48px;
		justify-content: space-between;
		align-content: center;


	  }
	  
	  .card {
		max-width: 351px;
		height: 344px;
		
	  }
	  
	  .card img {
		display: block;
		width: 351px;
		height: 224px;
		border-radius: 4px;
		margin-bottom: 16px;
		
	}

	 
	  
	  .content h2 {
		margin: auto;
		font-family: Noto Sans;
		max-width: 319px;
		color: #3B3B3B;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		margin-bottom: 8px;
		
	

	  }
	  
	  .content p {
		margin: auto;
		max-width: 319px;
		font-family: Noto Sans;
		color: #919191;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		text-align: left;
		margin-bottom: 16px;
	  }
	  
	  .tag {
		display: flex;
		gap: 8px;
		padding-left: 16px;
	
	  }

	  .tag li {
		background: #f1f1f1;
		color: #3B3B3B;
		text-align: center;
		line-height: 1.5;
		padding: 4px 12px ;
		border-radius: 16px;
		font-family: Noto Sans;
		font-size: 16px;
		font-weight: 400;


	  }

}

.page {
	display: flex;
	align-content: center;
}

.page ul {
	margin: auto;
	margin-bottom: 120px;
	margin-top: 72px;
	display: flex;
	width: 152px;
	height: 40px;
	gap: 16px;
	
}

.page a {
	display: block;
	width: 40px;
	height: 40px;
	padding: 2px 13px 2px 13px;
	border-radius: 4px ;
	color: #3B3B3B;
	font-family: Noto Sans;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	text-decoration: none;

}

.page a:hover{
	background: #1e1e1e;
	color: #ffffff;
	background-repeat: no-repeat;
}

@media (max-width:375px) {

	.page ul {
		max-width: 375px;
		display: flex;
		align-content: center;
		padding-top: 0px;
		padding-bottom: 80px;
		max-height: 40px;	
		margin: 0px auto;	
		font-family: Noto Sans;


	}

}

.footer-bg {
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
	background-size: cover;
	max-width: 100%;
	padding: 80px 0 ;
}

.footer {
	margin: auto;
	display: flex;
	height: 264px;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1296px;

}

.footer1 {
	display: flex;
	flex-direction: column;
	max-width: 686px;
	height:186px;
	gap: 24px;
	margin-top: 39px;

}

.footer1 img {
	width: 120px;
	height: 54px;

}

.footer1 h4 {
display: flex;
font-family: Noto Sans;
font-size: 20px;
font-weight: 400;
line-height: 30px;
align-items: left;

}

.footer1 a {
font-family: Noto Sans;
color: #919191;
font-size: 20px;
font-weight: 400;
line-height: 1.2;
text-align: left;
text-decoration: none;

}
  

.footer2 {

	display: flex;
	max-width: 306px;

	

}
.footer2 ul {
	display: flex;
	flex-direction: column;
	width: 306px;
	height: 264px;
	gap: 24px;



}



.footer2 li {
	border: 1px solid #c1c1c1;
	position: relative;
	padding-left: 88px;
	padding-top: 21px;
	height: 72px;
	border-radius: 8px;
	font-family: Noto Sans;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	background: #ffffff;
	color: #3B3B3B;

}


.footer2 .list {
	background: #000;
	color: #ffffff;
	border: none;

}

.footer2 a {
	text-decoration: none;

}
.footer2 img {
	display: block;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 56px;
	height: 56px;

}

@media (max-width:375px) {


	.footer-bg {
		background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
		padding: 40px 12px;


	}
	.footer {
		display: flex;
		flex-direction: column;
		width: 351px;
		height: 458px;
		gap: 40px;

	}
	
	.footer1 img {
		margin: auto;
	}

	  .footer1 {
		width: 351px;
		height: 178px;
		font-size: 16px;
		text-align: center;
		margin-top: 0px;

	  }

	
	  .footer1 h4 {
		width: 240px;
		height: 52px;
		font-family: Noto Sans;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		margin: auto;

	  }
	
	  .footer1 a {

		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		display: block;
		display: flex;
		justify-content: center;
	  }
	
	  .footer2 {

		margin: auto;
		height: 240px;
	  }


	  .footer2 ul {
			gap: 24px;	
		
	  }

	  .footer2 li {
		height: 64px;
		padding-top: 17px;

	}


	.footer2 img {
		display: block;
		position: absolute;
		top: 4px;
		left: 24px;
		width: 56px;
		height: 56px;
}

}
	
