/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }



  .header {
	margin: auto;
	max-width: 1920px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom:1px solid #f1f1f1;
	position: relative;

  }
  
  .header img {
	position: absolute;
	top:28px;
	left: 312px;
	width: 90px;
	height: 40px;
	
  }


  	.menu {
		max-width: 100%;
		padding: 32px 0;
		display:flex ;
		gap:40px;

	}

	
		
	

	.menu a:hover{
		font-weight: 600;
		background: 
		linear-gradient(#919191,#919191) top right,
		linear-gradient(#919191,#919191) top right,
		linear-gradient(#919191,#919191) bottom left,
		linear-gradient(#919191,#919191) bottom left,
		linear-gradient(#919191,#919191) bottom right,
		linear-gradient(#919191,#919191) bottom right,
		linear-gradient(#919191,#919191) top left, 
		linear-gradient(#919191,#919191) top left;
		background-size: 8px 1px, 1px 8px;
		background-repeat: no-repeat;
	}

	.menu  a {
	display: block;
	display: flex;
	color: black;	
	font-family:"Noto Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	padding: 4px 8px 4px 8px;



 }

 

  .header .material-symbols-outlined {
    display: none;
}


.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
	font-size: 48px; /* 圖標大小 */
	cursor: pointer; /* 鼠標懸停手指 */
	text-decoration: none; /* 移除連結下邊線 */
	color: black; /* 默認圖示顏色 */
}


 @media (max-width:375px) {

.header{
	
	width: 100%;
	height: 56px;
	position: relative;

}


.menu  {
	display: flex;
    /* 隱藏選單 */
    max-height: 0px;
	overflow: hidden;
    /* 取消 display: flex; */
    display: block;
    /* 設定絕對定位 */
    position: absolute;
    top: 56px;
    /* 選單滿版呈現，也可以設定 left:0; right:0; */
    width: 100%;
    text-align: center;
	padding: 0px;
	margin: 28px;
	
  }

 

  .menu li a {
	height: 38px;
	width: 96px;
	margin:  auto;
	display: block;
	font-family: Noto Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	padding: 4px 8px 4px 8px;

  }


  .header .material-symbols-outlined {

	display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
	position: absolute;
	z-index: 100;
	right: 3px;
    top:8px;
  }

  


  .menu li {
	font-size: 20px;
	line-height: 30px;
	padding:12px;
  }
  
  .menu-show .menu {
    max-height: 500px;
  }
  
  /* 將內容往下推，不要跟表頭重疊 */
  
  .header img {
	position: absolute;
	z-index: 99;
	top: 8px;
	left: 12px;

  }
 }  



.main {
	margin: auto;
	max-width: 1920px;
 	display: flex;
	flex-direction: column;
 	align-items: center;
 	background: #fafafa ;
 	padding: 20px;
 	padding: 80px 0;

}


.banner {
	max-width: 1920px;
	position: relative;
	max-width: 670px;
	text-align: center;
	padding: 59px 71px;

  }


.banner img{
	position: absolute;
}

h2 {
	font-family: Noto Sans;
	color: #1e1e1e;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.8px;

  }

.one {
	padding: 0px 0px 16px 0px;

}

span {
	display: inline-block;
  position: relative;
  z-index: 0;
} 

.underline {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.mark1 {
	left: 0px;
	top: 0px;
  }
  
  .mark2 {
	right: 0px;
	bottom: 0px;
  }

  .experience {
	display: flex;
	gap: 40px;
	max-width: 636px;
  }  

  .experience h3 {
	font-size: 16px;
	color: #5B5B5B;
	line-height: 24px;
	text-align: center;
	font-weight: 400;
	font-family: Noto Sans;



}

.experience p {

font-family: Noto Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
max-width: 298px;
color: #3B3B3B;


}

.experience .line {
	border: 2px solid #c1c1c1;
	width: 24px;
	margin-top: 4px;
	margin-bottom: 8px;

  }

  .content {
	width: 1296px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .card {
	width: 636px;
	height: 400px;
	margin-bottom: 218px;
  }
  
  .card img {
	border-radius: 8px;
	margin-bottom: 16px;
  }
  
  .content h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 8px;
  }
  
  .content p {
	font-size: 16px;
	color: #919191;
	line-height: 24px;
	font-weight: thin;
	margin-bottom: 24px;
  }
  
  .tag {
	display: flex;
	gap: 16px;
  }
  .tag li {
	background: #f1f1f1;
	color: black;
	text-align: center;
	line-height: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 16px;
  }
  

  @media (max-width:375px) {
	
	h2  {	
		max-width: 300px;
		font-family: Noto Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		padding: 0px 20px;

	  }

	.one {
		max-width: 300px;
		font-family: Noto Sans;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		padding: 0px 0px 8px 0px;
	
	}
	  
	  .mark1 {
		position: static !important;
	  }
	  .mark2 {
		display: none;
	  }
	
	  .work1 {
		margin-right: 0;
	  }
	  .experience {
		flex-direction: column;
		gap: 20px;
		max-width: 235px;


	  }

.main {
	padding: 0px;
	padding-bottom: 80px;
}

.banner {
	padding: 40px 0px ;
}
